<form novalidate autocomplete="off" (ngSubmit)="onCreateServer()">
  <div class="form-group">
    <label for="serverName">Server Name</label>
    <input
      type="text"
      class="form-control"
      id="serverName"
      aria-describedby="serverInfo"
      placeholder="Enter Server Name"
      [(ngModel)]="serverName"
      name="serverName"
    />
    <small id="serverInfo" class="form-text text-muted">
      {{ serverName }}
    </small>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!allowNewServers">
    Add Server
  </button>
</form>

<p *ngIf="serverCreated">Server created, server name is {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>
